* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px !important;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px inset;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(101, 112, 128);
  border-radius: 5px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: gray;
} */
